@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-height {
  height: 100%;
}


#root, html, body {
  height: 100vh;
}

/* This is to fix the blockly scrollbar issue when using tailwind */
svg[display="none"] {
  display: none;
}